/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

span {
  width: -moz-fit-content;
  width: fit-content;
}

/*
8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url(/fonts/SpaceGrotesk-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url(/fonts/SpaceGrotesk-Medium.woff2);
  font-weight: 500;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-alt: #191A23;
  --color-accent: #B9FF66;
  --color-grey: #F3F3F3;
  --border: 1px solid var(--color-dark-alt);
  --box-shadow: 0 5px var(--color-dark-alt);
  --border-radius: 45px;
  --font-family-main: "Space Grotesk", sans-serif;
  --font-style: normal;
  --line-height: 1.28;
  --font-size: 20px;
  --h1-font-size: 60px;
  --h2-font-size: 40px;
  --h3-font-size: 30px;
  --h4-font-size: 20px;
  --p-font-size: 20px;
  --site-padding-x: 100px;
  --site-padding-top: 60px;
  --section-margin-y: 70px;
  --section-row-gap: 80px;
  --button-padding-x: 35px;
  --block-margin-y: 70px;
  --desktop-min: 1280px;
  --tablet-max: 1279px;
  --tablet-middle: 1000px;
  --tablet-min: 768px;
  --mobile-max: 767px;
  --mobile-middle: 480px;
  --transition-duration: 0.2s;
}
@media (min-width: 1000px) and (max-width: 1279px) {
  :root {
    --site-padding-x: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  :root {
    --site-padding-x: 25px;
  }
}
@media (max-width: 767px) {
  :root {
    --site-padding-x: 20px;
    --site-padding-top: 30px;
    --section-spacing-y: 60px;
    --section-row-gap: 40px;
    --line-height: 1.5;
    --h1-font-size: 43px;
    --h2-font-size: 36px;
    --h3-font-size: 26px;
    --h4-font-size: 18px;
    --p-font-size: 16px;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: var(--site-padding-top);
  padding-inline: var(--site-padding-x);
}

.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1240px;
}

.container {
  width: 100%;
}

@media (max-width: 767px) {
  .hidden-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .hidden-tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  .hidden-desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.bg--accent {
  background-color: var(--color-accent) !important;
}
.bg--dark {
  background-color: var(--color-dark) !important;
}
.bg--grey {
  background-color: var(--color-grey) !important;
}
.bg--dark-alt {
  background-color: var(--color-dark-alt) !important;
}
.bg--light {
  background-color: var(--color-light) !important;
}

.clr--accent {
  color: var(--color-accent) !important;
}
.clr--dark {
  color: var(--color-dark) !important;
}
.clr--grey {
  color: var(--color-grey) !important;
}
.clr--dark-alt {
  color: var(--color-dark-alt) !important;
}
.clr--light {
  color: var(--color-light) !important;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family-main);
  font-style: var(--font-style);
  font-weight: 400;
  color: var(--color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-main);
  font-style: var(--font-style);
  font-weight: 600;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
  font-weight: 400 !important;
}

ul {
  list-style-type: none;
}

.colored {
  padding-inline: 7px;
  border-radius: 7px;
  background-color: var(--color-accent);
}
.colored--light {
  background-color: var(--color-light);
}

.button {
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: var(--button-padding-x);
  background-color: var(--color-dark-alt);
  font-family: var(--font-family-main);
  font-style: var(--font-style);
  font-weight: 400;
  color: var(--color-light);
  border-radius: 14px;
  border: 1px solid var(--color-dark-alt);
}
@media (hover: hover) {
  .button:hover {
    transition-duration: var(--transition-duration);
    color: var(--color-dark-alt);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    transition-duration: var(--transition-duration);
    color: var(--color-dark-alt);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
.button--transparent {
  color: var(--color-dark-alt);
  background-color: var(--color-light);
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-dark-alt);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-dark-alt);
    color: var(--color-light);
  }
}

.grid {
  display: grid;
}
.grid--col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid--col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid--col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid--col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid--col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid--col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid--col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid--col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid--col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (hover: hover) {
  .link__label:hover {
    background-color: var(--color-light);
  }
}
@media (hover: none) {
  .link__label:active {
    background-color: var(--color-light);
  }
}

.divider {
  border-radius: 100%;
}
.divider--vertical {
  height: 100%;
  width: 1px;
}
.divider--horizontal {
  width: 100%;
  height: 1px;
}

.icon {
  border-radius: 50%;
  padding: 16px 16px;
}
.icon svg *[fill] {
  fill: currentColor;
}
.icon svg *[stroke] {
  stroke: currentColor;
}
.icon--no-bg {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.block {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: var(--color-gray);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .block {
    align-items: end;
  }
}
@media (max-width: 480px) {
  .block {
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
  }
}
.block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 93px;
}
@media (max-width: 480px) {
  .block__body {
    display: contents;
  }
}
.block__title {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .block__title {
    order: -1;
  }
}
.block__image {
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .block__image {
    width: 30%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .block__image {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .block__image {
    width: 117px;
    height: auto;
    align-self: flex-end;
    order: -1;
  }
}

.section {
  width: 100%;
  margin-block: var(--section-margin-y);
  display: flex;
  flex-direction: column;
  row-gap: var(--section-row-gap);
}
.section__header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 767px) {
  .section__header-wrapper {
    justify-content: center;
  }
}
.section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.section__header span {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    text-align: center;
  }
}
.section__header-paragraph {
  max-width: 580px;
}

.offer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .offer {
    flex-direction: column;
    align-items: center;
  }
}
.offer__content {
  max-width: 531px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 35px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .offer__content {
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .offer__content {
    display: contents;
  }
}
@media (max-width: 767px) {
  .offer__paragraph {
    margin-bottom: 1rem;
    order: 1;
  }
}
@media (max-width: 767px) {
  .offer__button {
    width: 100%;
    max-width: 390px;
    order: 2;
  }
}
.offer__image {
  min-width: 45%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .offer__image {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .offer__image {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.labels__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767px) {
  .labels__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.labels__item {
  display: flex;
  justify-content: center;
}

.case-studies {
  border-radius: var(--border-radius);
}
.case-studies__content {
  padding: 70px 60px;
}
.case-studies__list {
  -moz-column-gap: 128px;
       column-gap: 128px;
}
@media (max-width: 767px) {
  .case-studies__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.case-studies__block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .case-studies__block {
    row-gap: 5px;
  }
}

.employee {
  --padding: 40px;
  --maxWidth: 390px;
  height: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 28px;
}
@media (max-width: 767px) {
  .employee {
    --padding: 40px 50px;
    max-width: var(--maxWidth);
  }
}
.employee__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.employee__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.employee__icon {
  width: 34px;
  padding: 8px;
  align-self: flex-start;
}
.employee__image::after {
  content: "";
  background-image: url(/assets/mask.svg);
  margin-left: 10px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .team {
    align-items: center;
  }
}
.team__list {
  gap: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .team__list {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .team__list {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}
.team__card {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .team__button {
    max-width: 390px;
    width: 100%;
  }
}

.banner__content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .banner__content {
    padding: 50px;
    justify-content: center;
  }
}
.banner__body {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 26px;
}
@media (max-width: 767px) {
  .banner__body {
    align-items: start;
    justify-content: center;
  }
}
.banner__image {
  margin-block: -100px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .banner__image {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .banner__button {
    width: 100%;
  }
}

.services__list {
  gap: 40px;
}
@media (max-width: 767px) {
  .services__list {
    grid-template-columns: 1fr;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(15px, 1.9vw + 0rem, 20px);
}
@media (min-width: 768px) and (max-width: 1000px) {
  .header__logo {
    max-width: 170px;
    height: auto;
  }
}
.header__link {
  display: flex;
  height: 100%;
}
.header__menu {
  display: flex;
  flex: row;
  align-items: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  list-style-type: none;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (min-width: 1000px) and (max-width: 1279px) {
  .header__list {
    -moz-column-gap: 27px;
         column-gap: 27px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .header__list {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (min-width: 1000px) and (max-width: 1279px) {
  .header__button {
    padding-inline: calc(var(--button-padding-x) * 0.8);
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .header__button {
    padding-inline: calc(var(--button-padding-x) * 0.5);
  }
}/*# sourceMappingURL=main.css.map */