.case-studies {
    border-radius: var(--border-radius);

    &__content {
        padding: 70px 60px;
    }

    &__list {
        column-gap: 128px;

        @include mobile {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }

    &__block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;

        @include mobile {
            row-gap: 5px;
        }
    }
}