.section {
    width: 100%;
    margin-block: var(--section-margin-y);
    display: flex;
    flex-direction: column;
    row-gap: var(--section-row-gap);

    &__header-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row; 
        align-items: center;    
        
        @include mobile {
            justify-content: center;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        column-gap: 40px;

        span { white-space: nowrap; }

        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            justify-content: center;
            text-align: center;
        }

        &-paragraph {
            max-width: 580px;
        }
    }
}